node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.git
.gitignore
.env
.env.*
!.env.example
.dockerignore
Dockerfile
docker-compose*.yml
README.md
.prettierrc*
.prettierignore
.vscode
.idea
*.log
